@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
    background-image: url('../images/water.png');
    background-color: space;
}
.text-2xs{
    font-size: .625rem ;
    line-height: 1rem;
}

.btn{
    @apply p-1 px-16 bg-cerulean/50 rounded-lg hover:bg-sky/60 border border-cerulean/80 hover:text-sky inline-block;
}
